# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
myenv/
venv/
.env

# Django
*.pyc
*.pyo
*.pyd
db.sqlite3
/staticfiles/
media/

# VSCode
.vscode/

# Docker
*.env
*.log
docker-compose.override.yml

# JetBrains
.idea/

# macOS
.DS_Store